{% extends "base.html" %}
{% block title %}
  <title> 
    Записи сообщества 
    {% for group in page_obj %}
    {% if forloop.last %}
    {{ group.group.title }}
    {% endif %}
    {% endfor %}
  </title>
{% endblock %}
{% block content %}
  <main>
    <!-- класс py-5 создает отступы сверху и снизу блока -->
    <div class="container py-5">
      {% for group in page_obj %}
      {% if forloop.last %}
      <h1>{{ group.group }}</h1>
      <p>{{ group.group.description }}</p>
      {% endif %}
      {% endfor %}
      <article>
        {% for group in page_obj %}
          <ul>
            <li>
              Автор:
              {% if group.author.get_full_name %}
              {{ group.author.get_full_name }}
              {% else %}
              {{ group.author }}
              {% endif %}
            </li>
            <li>
              Дата публикации: {{ group.pub_date|date:"d E Y" }}
            </li>
          </ul> 
          <p>{{ group.text }}</p>
        {% endfor %}
        {% include 'includes/paginator.html' %}
      </article>
      <!-- под последним постом нет линии -->
    </div>  
  </main>
{% endblock %} 
